# Node
node_modules/
.env

# Frontend build
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/
*.swp
*.swo

# Testing
coverage/

# Supabase
supabase/
