name: Mirror to Epitech Repository
 
on:
  push:
    branches: [ main, master ]
  workflow_dispatch:
 
jobs:
  mirror:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout source repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
 
    - name: Configure git
      run: |
        git config --global user.name "MahparaAmil"
        git config --global user.email "amil.mahpara@epitech.eu"
 
    - name: Push to Epitech repo
      env:
        GITHUB_TOKEN: ${{ secrets.EPITECH_PAT }}
      run: |
        git remote add epitech https://x-access-token:${GITHUB_TOKEN}@github.com/EpitechMscInternationalPromo2027/I-DEV-701-INT-7-1-trinitydevweb-4.git
        git push epitech HEAD:main --force